/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
    // flavor = "tap-preferred";
    // tapping-term-ms = <200>;
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp F &kp P &kp B                      &kp J &kp L  &kp U     &kp Y   &kp SEMI
                &kp A &kp R &kp S &kp T &kp G                      &kp M &kp N  &kp E     &kp I   &kp O
                &kp Z &kp X &kp C &kp D &kp V                      &kp K &kp H  &kp COMMA &kp DOT &kp SLASH
                                &mo 1 &sk LSHFT                  &kp SPACE &mo 2
            >;
        };

        ext_layer {
            bindings = <
                &bt BT_NXT &bt BT_PRV &none     &none    &kp C_NEXT                      &bootloader &kp LGUI &sk LCTRL &sk LALT &sk LGUI
                &kp ESC    &kp TAB    &kp ENTER &kp BSPC &kp C_PP                        &none       &kp LEFT &kp DOWN  &kp UP   &kp RIGHT
                &none      &none      &none     &kp DEL  &kp C_PREV                      &soft_off   &none    &none     &none    &none
                                                        &trans  &none                  &none &trans
            >;
        };

        sym_layer {
            bindings = <
                &kp CARET  &kp EXCL  &kp QMARK &kp AT    &kp PRCNT                     &kp ASTRK &kp UNDER &kp PIPE &kp DQT   &none
                &kp LT     &kp COLON &kp LCBR  &kp LPAR  &kp LBKT                      &kp HASH  &kp MINUS &kp BSLH &kp SQT   &kp DLLR
                &kp GT     &kp SEMI  &kp RCBR  &kp RPAR  &kp RBKT                      &kp AMPS  &kp TILDE &none    &kp GRAVE &none
                                                 &kp EQUAL &kp LCTRL                 &kp SPACE  &trans
            >;
        };

        num_layer {
            bindings = <
                &none  &kp N7 &kp N8 &kp N9 &kp PLUS                       &none &kp F9 &kp F10 &kp F11 &kp F12
                &none  &kp N4 &kp N5 &kp N6 &kp PRCNT                      &none &kp F5 &kp F6  &kp F7  &kp F8
                &kp N0 &kp N1 &kp N2 &kp N3 &none                          &none &kp F1 &kp F2  &kp F3  &kp F4
                                           &trans &none                  &none &trans
            >;
        };
    };
};
